<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.server.mapper.SysRolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.imooc.server.model.bo.SysRolePermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <id column="permission_id" jdbcType="INTEGER" property="permissionId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, role_id, permission_id
    </sql>

    <!-- 组合条件查询 -->
    <select id="querySysRolePermissionList" parameterType="com.imooc.server.model.bo.SysRolePermission"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="roleId  != null">
                AND role_id = #{roleId ,jdbcType=INTEGER}
            </if>
            <if test="permissionId  != null">
                AND permission_id = #{permissionId ,jdbcType=INTEGER}
            </if>
        </where>
    </select>

</mapper>