<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.server.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.imooc.server.model.bo.SysUserRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, role_id
    </sql>

    <!-- 组合条件查询 -->
    <select id="querySysUserRoleList" parameterType="com.imooc.server.model.bo.SysUserRole"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_role
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId  != null">
                AND user_id = #{userId ,jdbcType=INTEGER}
            </if>
            <if test="roleId  != null">
                AND role_id = #{roleId ,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="queryUserRoleByRoleId" parameterType="com.imooc.server.model.dto.SysUserRoleDTO"
            resultType="com.imooc.server.model.dto.SysUserRoleDTO">
        SELECT
        t1.id,
        t1.user_id userId,
        t2.username username,
        t2.nickname nickname,
        t1.role_id roleId
        FROM
        sys_user_role t1,sys_user t2
        WHERE
        t1.user_id=t2.id
        <if test="query.roleId!= null">
            AND t1.role_id = #{query.roleId}
        </if>
    </select>

    <select id="queryNoAuthUserByRoleId" parameterType="com.imooc.server.model.dto.SysUserRoleDTO"
            resultType="com.imooc.server.model.dto.SysUserRoleDTO">
        SELECT
        id userId,
        username username,
        nickname nickname
        FROM
        sys_user t
        WHERE
        t.id NOT IN
        (SELECT user_id FROM sys_user_role
        <where>
            <if test="query.roleId!= null">
                AND role_id = #{query.roleId}
            </if>
        </where>
        )
    </select>
</mapper>